<link rel="stylesheet" type="text/css" href="assets/css/login.css">
<link rel="stylesheet" type="text/css" href="assets/css/pagestructure.css">

<div class="mainPanel" ng-controller="loginController">
    <h2 class="welcomeText">Welcome to Bring!</h2>
    <hr>
    <div class="panel">
        <form class="form"  ng-submit="login()">
            <input class="userInput" type="text" name="customer" class="form-control" placeholder="Username"
                ng-model="username">
            <input class="userInput" type="password" name="password" class="form-control" placeholder="Password"
                ng-model="password">

            <br>
            <button type="submit" class="login btn btn-dark">Login</button>
            <br><br>
            <button type="button" ng-click="goBack()" class="login btn btn-dark">Cancel</button>
        </form>
    </div>
</div>
<div class="forgotpassword">
    Forgot password?
</div>