<link rel="stylesheet" type="text/css" href="assets/css/mainpage.css">
<link rel="stylesheet" type="text/css" href="assets/css/pagestructure.css">

<div class="mainPanel" ng-controller="mainController">
    <h2 class="welcomeText">Welcome to Bring!</h2>
    <h5 class="welcomeText">What would you like to do?</h5>
    <hr>
    <div class="panel">
        <button type="button" ng-click="go('/login')" class="login btn btn-dark">Login</button>
        <br><br>
        <button type="button" ng-click="go('/register')" class="login btn btn-dark">Register</button>
        <br><br><br><br>
        <button type="button" ng-click="go('/userlist')" class="login btn btn-dark">See all users</button>
    </div>
</div>