<link rel="stylesheet" type="text/css" href="assets/css/pagestructure.css">
<link rel="stylesheet" type="text/css" href="assets/css/storyList.css">

<div ng-controller="storyController">
  <div class=topbar>
    <button type="button" ng-click="logout()" class="logout login btn btn-dark">Logout</button>
    <input type="text" placeholder="Search for story" class="searchstory" ng-model="searchstory">
  </div>
  <div class="mainPanel">
    <h2 class="welcomeText">Marvel Story List</h2>
    <hr>
    <span ng-model="username"></span>

    <div class="storyBlock" ng-repeat="story in stories | filter:searchstory">
      <span>
        First name: {{story.title}}
        <!--<br>Last name: {{story.lastname}}
        <br>
        <br>Username: {{story.username}}
        <br>Password: {{story.password}}-->
      </span>
    </div>

  </div>
</div>

<!--story story-data="users" -->