<!-- Icons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/src/assets/css/index.css">

<div class="loginPanel">
    <h2 class="welcomeText">Welcome to Bring!</h2>
    <hr>
    <div class="login">
        <form ng-submit="formSubmit()" class="form">
            <input class="userInput" type="text" name="customer" class="form-control" placeholder="Username"
                ng-model="username">
            <input class="userInput" type="password" name="password" class="form-control" placeholder="Password"
                ng-model="password">
            <button type="submit" class="login btn btn-dark">Login</button>
        </form>
    </div>
</div>
<div class="forgotpassword">
    Forgot password?
</div>