img.bringHeaderImg{
	position: absolute;
	z-index: 1;
	top: -100px;
	border-bottom: 1px solid black;
}

body{
	background-color: rgba(100, 24, 36, 0);
}

.panel{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 3%;
}

.mainPanel {
	position: relative;
	left: 50%;
	margin-left: -17.5%;
	background: white;
	width: 35%;
	z-index: 2;

	border-top-left-radius: 3%;
	border-top-right-radius: 3%;
	color: black;
	text-align: center;
	margin-top: 15%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 3%;
	box-shadow: 0 5px 5px black;
}

.forgotpassword {

	background: white;
	position: relative;
	width: 35%;

	left: 50%;
	margin-left: -17.5%;
	z-index: 2;

	clear: both;
	bottom: 0px;
	
	text-align: center;
	color: gray;
	font-weight: bold;

	padding: 1%;
	padding-left: 5%;
	padding-right: 5%;

	border-top: 1px dotted gray;
	box-shadow: 0 5px 5px black;
}

input.userInput{
    width: 100%;
    height: 100%;
}

.fas {
	width: 25px;
}

.login {
	width: 100%;
}

.btn {
	background: rgb(120, 24, 36);
}

