img.bringHeaderImg{
	position: absolute;
	z-index: 1;
	top: -100px;
	border-bottom: 1px solid black;
	width: 100%;
}

body{
	background-color: rgba(100, 24, 36, 0);
}

.mainPanel {
	background: white;
	position: absolute;
	left: 50%;
	margin-left: -25%;
	width: 50%;
	z-index: 2;

	border-top-left-radius: 3%;
	border-top-right-radius: 3%;
	color: black;
	text-align: center;
	margin-top: 15%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 3%;
	box-shadow: 0 5px 5px black;
}

.fas {
	width: 25px;
}

.login {
	width: 100%;
}

.btn {
	background: rgb(144, 24, 36);
}

.forgotpassword {
	background: lightgray;
	text-align: center;
	color: gray;
	font-weight: bold;
	margin-left: 35%;
	margin-right: 35%;
	padding: 1%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	box-shadow: 0 5px 5px black;
}